@import url("https://fonts.googleapis.com/css?family=Abel|Cormorant+Garamond|Do+Hyeon|Domine|Forum|Source+Serif+Pro");

$brand-color: #71ffe5 !default;
$brand-color-lighter: desaturate(lighten($brand-color, 55%), 40%);
$brand-neutral-colors: (#425563, #5f7a76, #80746e, #767676) !default;
$brand-accent-colors: (#2ad2c9, #614767, #ff8d6d) !default;
$brand-status-colors: (
  critical: #f04953,
  error: #f04953,
  warning: #ffd144,
  ok: $brand-color,
  unknown: #cccccc,
  disabled: #cccccc,
);
$brand-link-color: inherit;
$link-hover-color: #000;
$brand-link-text-decoration: underline;
$brand-grey-colors: (#000001, #333333, #3b3b3b, #434343, #666666);
$brand-graph-colors: $brand-neutral-colors;

$head-font: "Abel", sans-serif !important;
$body-font: "Cormorant Garamond", serif !important;
$sub-head-font: "Abel", sans-serif !important;

$delta-teal: #8abab7;
$dark-teal: #77a19e;
$icy-grey: #eef2f6;
$murky-grey: #313234;
$spring-green: #b7ba80;

.app {
  background: #eef2f6; /*icy grey*/
  height: 100%;
  margin: auto;
}

p {
  font-size: 20px !important;
}

.subheader {
  color: $icy-grey;
  text-align: center;
}

#about-subheader {
  font-style: italic;
}

/*style to underline links */
.underline-a {
  text-decoration: underline !important;
}

// .full-view {
//   height: 100%;
//   min-height:100vh;
//   width: 100%;
// }

.delta60-page {
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.delta-60-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  /*justify-content: center;*/
  margin-left: 5%;
  margin-right: 5%;
}

.delta60-editors {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  text-align: left;
  font-family: $body-font;
  margin: 5%;
  padding: 15px;
  //border-right: 2px solid #8DB9BA; /*briny teal*/
}

.featured-list {
  display: flex;
  flex-direction: row;
  /*flex-direction: column;*/
  flex-wrap: wrap;
  align-self: center;
  /*justify-self: flex-end;*/
  /*border: 2px solid #8DB9BA;*/ /*briny teal*/
  margin-left: 10%;
  margin-bottom: 10%;
}
.featured-writers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  margin-left: 15%;
  margin-top: 5%;
}
.featured-artists {
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  flex-direction: column;
  justify-self: flex-end;
  margin-left: 15%;
  margin-top: 5%;
}

.delta60-headline {
  display: flex;
  flex-direction: column;
  -webkit-align-self: center; /* Safari 7.0+ */
  width: 60%;
  align-self: center;
  align-items: center;
  padding: 15px;
  margin-top: 5%;
  /*margin-left: 10%;*/
  line-height: 10px;
  border-bottom: 2px solid #8db9ba; /*briny teal*/
}

.delta60-pic {
  display: flex;
  /* margin: 25px;*/
  -webkit-align-self: flex-start; /* Safari 7.0+ */
  align-self: flex-start;
  border-radius: 10px;
  /*margin-right: 10%;*/
  margin-top: 10%;
}

.delta60-cover-pic {
  display: flex;
  -webkit-align-self: center; /* Safari 7.0+ */
  align-self: center;
  border-radius: 10px;
  margin-bottom: 10%;
}

.hcr-box {
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  /*padding: 20px;*/
  margin: 20px;
}

.submit-box {
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  /*align-items: center;*/
  /* margin: 10%;*/
}

.inner-submit-box-1 {
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  align-self: center;
  justify-self: center;
  margin: 5%;
  border-bottom: 2px solid #8db9ba; /*briny teal*/
  width: 60%;
  text-align: center;
}
.inner-submit-box-2 {
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  margin: 5%;
  /*border: 2px solid #8DB9BA;*/ /*briny teal*/
  text-align: center;
  background: #deece8;
  padding: 5%;
}

.submission-guidlines {
  margin: 20px;
  padding-top: 20px;
  border-top: 1px solid #8db9ba; /*briny teal*/
}

.contact-page {
  background: #eef2f6; /*icy grey*/
  /*background-image: url('../images/coffeecup.png');*/
  /*background-repeat: no-repeat;
  background-size: contain;*/
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90%;
  min-height: 90vh;
  /*width: 100%;*/
}
.contact-border {
  display: flex;
  flex-direction: column;
  border: 10px solid #8db9ba; /*briny teal*/
  margin: 5%;
  /*width: 90%;*/
  /*min-width: 90vh;*/
  padding: 20px;
  align-items: center;
}
.contact-headline {
  display: flex;
  /*flex-direction: row;*/
  -webkit-align-self: center; /* Safari 7.0+ */
  width: 50%;
  text-align: center;
  align-self: center;
  justify-content: center;
  padding: 15px;
  /*  margin-top: 5%;
  margin-bottom: 5%;*/
  line-height: 10px;
  border-bottom: 1px solid #8db9ba; /*briny teal*/
}

.contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*margin-top: 5%;*/
  width: 60% !important;
  min-width: 60vh !important;
}

.logo-box {
  align-self: center;
  -webkit-align-self: center;
}

.inner-contact-box-1 {
  flex-direction: column;
  justify-self: flex-start;
  text-align: center;
  border-bottom: 1px solid $murky-grey; /*dark ash grey*/
  margin-top: 5%;
}

.inner-contact-box-2 {
  flex-direction: column;
  justify-self: center;
  text-align: center;
  border-bottom: 1px solid $murky-grey; /*dark ash grey*/
  margin-top: 5%;
}

.inner-contact-box-3 {
  flex-direction: column;
  justify-self: flex-end;
  margin-top: 5%;
  text-align: center;
}

.contact-pic {
  display: flex;
  /*margin: 25px;*/
  -webkit-align-self: center; /* Safari 7.0+ */
  align-self: center;
  border-radius: 10px;
  margin-right: 10%;
  margin-top: 10%;
}

.masthead {
  color: $murky-grey; /*dark ash grey*/
  text-align: center;
}

.masthead-headers {
  font-family: $head-font;
  text-align: center;
}

.about-page {
  background: #eef2f6; /*icy grey*/
  /*padding-left: 5%;*/
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
}

.about-box {
  /*background: $murky-grey*/ /*dark ash grey*/
}

.about-text {
  font-family: $body-font;
  margin-top: 80px;
  margin-bottom: 50px;
  padding-left: 30px;
  padding-right: 10px;
  text-align: justify;
  color: $murky-grey; /*dark ash grey*/
}

.about-hero-container {
  display: flex;
  flex-direction: row;
  /*text-align: center;*/
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  width: 100%;
  /*min-width: 100vh;*/
  height: 60%;
  min-height: 60vh;
  // background-image: url('../images/weird-tea-setup.jpg');
  background-image: url("../images/StrongWomen_AfsanehGhazavi-with-overlay.png");
  /*background-image: url('../images/Parisian-City-Scape-CAROLINE-BLANCHET-with-overlay.png');*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-attachment: fixed;
  filter: drop-shadow(16px 16px 10px gray);
}

/*.home-hero-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
  font-size: 2.5em !important;
  width: 100%;
  height: 70%;
  min-height: 70vh;
  color: white;
  background-image: url('../images/cover-art.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  filter: drop-shadow(16px 16px 10px gray);
}*/

.home-hero-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
  font-size: 2.5em !important;
  width: 100%;
  height: 70%;
  min-height: 70vh;
  color: white;
  background-image: url("../images/StrongWomen_AfsanehGhazavi-with-overlay.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-attachment: fixed;
  filter: drop-shadow(16px 16px 10px gray);
}

.home-hero-overlay {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 70vh;
  /*min-height: 70vh;*/
  color: white;
  background-color: #425563;
  opacity: 0.4;
  z-index: 1000000;
}

.about-h1 {
  display: flex;
  font-family: $head-font;
  font-size: 50px !important;
  color: #eef2f6; /*icy grey*/
  padding: 20px;
  border: 2px solid $icy-grey; /*icy grey*/
  /*color: $murky-grey*/ /*dark ash grey*/
  /*background: #8DB9BA;*/ /*briny teal*/
  /*background: $murky-grey*/ /*dark ash grey*/

  /* margin-left: auto !important;*/
  /*margin-right: auto !important;*/
  /*margin-top: 50%;*/
  /* margin-bottom: 50%;*/
}

.home-h1 {
  border: 2px solid #eef2f6; /*icy grey*/
  padding: 20px;
}

.event-page {
  display: flex;
  // background-image: url('../images/cloud-gradient.png');
  background-image: url("../images/StrongWomen_AfsanehGhazavi-with-overlay.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /*background: $murky-grey*/ /*dark ash grey*/
  /*background: #8DB9BA;*/ /*briny teal*/
  height: 100%;
  width: 70vw !important;
  align-items: center !important;
  justify-content: center !important;
  padding-bottom: 5%;
  padding-top: 5%;
  margin-top: 3%;
}

.event-box {
  display: flex;
  /*background: #8DB9BA !important;*/
  background: rgba(49, 50, 52, 0.6); /*dark ash grey*/
  width: 75% !important;
  min-height: 70vh;
  // align-items: center !important;
  // align-content: center !important;
  // justify-content: center !important;
  justify-self: center;
  align-self: center;
  /*min-width: 90vh;*/
  margin: 30px;
  color: #deece8; /*light green-gray*/
  padding: 40px;
  border-radius: 20px;
}

#event-header-box {
  display: flex;
  // justify-self: center !important;
  // align-self: center !important;
  align-items: center;
  justify-content: center;
  border: 2px solid $icy-grey;
  width: 30%;
  margin-bottom: 5%;
}

.event-head {
  font-family: $head-font;
  text-transform: uppercase;
  /*color: #8DB9BA !important; */ /*briny teal*/
  /*color: #313234;*/ /*dark ash grey*/
  font-size: 50px !important;
  padding: 20px;
}

// #event-subheader {
// }

.event-card {
  display: flex;
  flex-direction: row;
  /*align-items: left;*/
  /*text-align: left;*/
  /*align-self: center;*/
  /*justify-self: center;*/
  padding: 5%;
  // margin: 5%;
}
.event-text {
  display: flex !important;
  justify-content: center !important;
  font-family: $body-font;
  //color: #EEF2F6 !important; /*icy grey*/
  /*padding-top: 8%;*/
  /*padding-left: 10%;*/
  /*padding-right: 5%;*/
  //font-size: 18px !important;
  text-align: center !important;
  text-justify: inter-word;
  /*margin-left: 20%;*/
  margin: 5%;
}

#event-description {
  text-align: center !important;
}

.event-card-text {
  display: flex;
  font-family: $body-font;
  // color: #EEF2F6 !important; /*icy grey*/
  width: 300px !important;
  text-align: center;
  // align-items: center;
  // justify-content: center;
  // align-content: center;
  // border: 1px solid white !important;
  /*color: #313234 !important;*/ /*dark ash grey*/
  /*padding-right: 15%;*/
  /*text-align: justify;*/
  /*font-size: 1.3em !important;*/
}

.event-card-link {
  font-size: 3em !important;
}

.event-card-link:hover {
  font-size: 3em !important;
  color: $delta-teal;
}

.icon-link {
  color: $delta-teal !important;
  margin: 20px;
  &:hover {
    color: $icy-grey !important;
  }
}
.event-icon-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5%;
  /*margin-top: 5%;
  margin-left: 28%;
  margin-right: 20%;
  margin-bottom: 5%;*/
}

.icon-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.body-text {
  font-family: $body-font;
}

.blurred {
  -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
  filter: blur(2px);
}

.head-text {
  font-family: $head-font;
}

.sub-head-text {
  font-family: $sub-head-font;
}

.card {
  overflow: hidden;
  width: 100%;
  min-height: 500px;
  margin: 0px;
}

.card-link {
  color: $dark-teal !important;
}

.card:hover {
  background-color: $spring-green;
  background-blend-mode: screen;
  color: $icy-grey !important;

  .feature-card-description {
    color: $icy-grey !important;
  }

  .header-link {
    color: $icy-grey !important;
    &:hover {
      color: $dark-teal !important;
    }
  }

  .card-link {
    color: $icy-grey !important;
  }
}

// .feature-card-description {

// }

.editor-pic {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15px;
  background-color: #313234;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.overlay {
  background-color: rgba(141, 185, 186, 0.5);
}

.grommetux-header .grommetux-anchor .grommetux-label {
  font-family: $head-font;
}
.grommetux-footer .grommetux-menu .grommetux-label {
  font-family: $body-font;
}
.grommetux-footer .grommetux-anchor {
  font-family: $body-font;
}
.grommetux-footer .grommetux-label {
  font-family: $body-font;
}
.grommetux-heading {
  font-family: $head-font;
}
.grommetux-headline {
  font-family: $head-font;
}
.grommetux-paragraph {
  font-family: $body-font;
}
.grommetux-card .grommetux-label {
  font-family: $sub-head-font;
}
.grommetux-card .grommetux-heading {
  font-family: $sub-head-font;
}
.grommetux-card .grommetux-paragraph {
  font-size: 18px;
}
.grommetux-anchor .grommetux-label {
  font-family: $sub-head-font;
}

.st0 {
  display: none;
}
.st1 {
  display: inline;
  fill: #eef2f6;
}
.st2 {
  fill: #8db9ba;
}

.shadow-box {
  margin: "0px";
  width: "100%";
  height: "100%";
  filter: "drop-shadow(16px, -13px, 10px, gray)";
}
/*.grommetux-tiles .grommetux-label {
font-family: $body-font;
}*/

/*.grommetux-footer .grommetux-paragraph{
font-family: $sub-head-font;
 }*/

/*.header{
font-family: 'Kosugi', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Kosugi')
}
.headline{
 font-family: 'Kosugi', sans-serif;
 @import url('https://fonts.googleapis.com/css?family=Kosugi')
}*/

/*.hero {
  border-radius: 30px;
  overflow: hidden;
  margin: auto;
  width: 95%;
}*/

.header-link {
  text-decoration: none;
  text-decoration-line: none;
  font-size: 2.5em;
  color: $dark-teal !important;
}

.header-link:hover {
  color: #5b7a78 !important;
  text-decoration-line: none !important;
}

.rounded-corner-img {
  border-radius: 20px;
}
