.grommetux-background-color-index-accent-1{
	background: #3bdbb5;
}
.grommetux-background-color-index-accent-2{
	background: #A8E6CF;
}
.grommetux-background-color-index-accent-3{
	background: #FACB00;
}
.grommetux-background-color-index-neutral-1{
	background: #38444A;
}
.grommetux-background-color-index-neutral-2{
	background: #9CA990;
}
.grommetux-background-color-index-neutral-2-t{
	background: #282a2d;
}


