.grommetux-background-color-index-accent-1{
	background: #FFFBF4;
}
.grommetux-background-color-index-accent-2{
	background: #425563;
}
.grommetux-background-color-index-accent-3{
	background: #FACB00;
}



